/* @import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
 */
html {
    height: 100%;
    font-family: serif;
    font-size: 2.2vw;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    /* font-size: 16em; */
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ーーーーーーーーーーーーーーーーーーーーーー 文字 ーーーーーーーーーーーーーーーーーーーーーー */

h1 {
    text-shadow: 0.02rem 0.02rem 0.5rem #000;
    color: #fff;
    font-size: 4rem;
    margin: auto;
    position: absolute;
    bottom: 33%;
    left: 0;
    right: 0;
    text-align: center;
}
h2 {
    font-family: "a-otf-ryumin-pr6n";
    font-size: 6rem;
    line-height: 1.2;
    letter-spacing: 0.5rem;
}
h2, h3{
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}
#p2 .article h2 {
    position: relative;
}
#p2 .article3 h2 {
    font-size: 3rem;
    color: #817251;
    letter-spacing: 0.1rem;
    margin-bottom: .5rem;
    line-height: 1.3;
}
.article4 h2 {
    font-size: 3rem;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 2rem;
}

div.title span {
    letter-spacing: 1rem;
}
#p1 h3 {
    font-family: serif;
}
h3 {
    font-family: "a-otf-ryumin-pr6n";
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    
}
#p2 .article h3 {
    margin-top: 2rem;
    line-height: 1.7;
}
#p2 .article2 h3 {
    flex: 1 1 382px
}
#p3 h3 {
    margin: 1rem auto;
    line-height: 1.5;
    font-size: 1.8rem;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "fot-rodin-pron", sans-serif;
    margin: 0;
}

p.link {
    border: solid 1px #555;
    width: 15rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto 1rem;
    z-index: 100;
    color: #555;
    box-shadow: 2px 2px 4px #bbb;
    font-weight: bold;
    border-radius: 0.2rem;        /* CSS3草案 */  
    -webkit-border-radius: 0.2rem;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0.2rem;
}
p.link.test {
    border: solid 2px #bbb;
    color: #bbb;
    box-shadow: 2px 2px 4px #ddd;
}
p.link span {
    display: inline-block;
}
p.link a {
    display: block;
    width: 100%;
    height: 100%;
}
p.link.first {
    position: fixed;
    bottom: 7rem;
    left: 0;
    right: 0;
}
p.price_cap{
    text-align: right;
    font-size: 1.2rem;
    position: absolute;
    bottom: -0.5rem;
    right: 0;
}
#p2 .article3 p {
    margin-bottom: 1rem;
}
small {
    font-size: 1rem;
}

a { text-decoration: none;}
a:hover { text-decoration: none;}
/* a:link, a:visited, a:hover, a:active {color: #555;} */

img {
    width: 100%;
}
figure{
    margin: 0;
}
ul, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "fot-rodin-pron", sans-serif;
}
.btn_box {
    text-align: center;
}
.button{
    border:1px solid #c3b980; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:16px; padding: 12px 12px 12px 12px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
     background-color: #d5cea6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5cea6), to(#b7ad70));
     background-image: -webkit-linear-gradient(top, #d5cea6, #b7ad70);
     background-image: -moz-linear-gradient(top, #d5cea6, #b7ad70);
     background-image: -ms-linear-gradient(top, #d5cea6, #b7ad70);
     background-image: -o-linear-gradient(top, #d5cea6, #b7ad70);
     background-image: linear-gradient(to bottom, #d5cea6, #b7ad70);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d5cea6, endColorstr=#b7ad70);
    }
    
    .button:hover{
     border:1px solid #b4a861;
     background-color: #c5bb83; background-image: -webkit-gradient(linear, left top, left bottom, from(#c5bb83), to(#a29752));
     background-image: -webkit-linear-gradient(top, #c5bb83, #a29752);
     background-image: -moz-linear-gradient(top, #c5bb83, #a29752);
     background-image: -ms-linear-gradient(top, #c5bb83, #a29752);
     background-image: -o-linear-gradient(top, #c5bb83, #a29752);
     background-image: linear-gradient(to bottom, #c5bb83, #a29752);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c5bb83, endColorstr=#a29752);
    }


.circle{
    display: inline-block;
    /* width: 13rem;
    height: 13rem;
    line-height: 13rem; */
    width: 11rem;
    height: 11rem;
    line-height: 11rem;
    border-radius: 50%;
    background: #ff0000;
    font-size: 2.2rem;
    text-align:center;
    color: #FFFFFF;
    vertical-align: middle;
    margin-bottom: 1rem;
  }
/* fullpage.cssの修正 */

#fullpage {
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.c_c{
    justify-content: center;
    align-items: center;
}
.txt_c{
    text-align: center;
}
.txt_r{
    text-align: right;
}
.rel {
    position: relative;
}
.bottom {
    position: absolute;
    bottom: 0;
}
.cover {
    position: relative;
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0;
    color: #000;
}
.article, .inner {
    margin-bottom: 5rem;
}
.inner {
    max-width: 1000px;
    width: 90%;    
}
.small_box {
    flex: 1 1 344px;
}
#p4 {
    height: 100% !important;
}

#p1 .fp-tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fp-scrollable {
    width: 100%;
}
#p4 .article {
    z-index: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1rem;
    width: 60vw;
    margin: calc((133% - 37vw) / 2) auto 0;
    height: 37vw;
    max-width: 300px;
    max-height: 185px;
    text-align: center;
}

#p4 .article img {
    /* position: absolute; */
}
#p4 .article img.first {
    /* top: 0; */
    width: 100%;
    transition: 0.5s;
    transition-delay: 0.2s;

}
#p4 .article img.second {
    /* top: 45%; */
    transition-delay: 1.2s;
    width: 10%;
    margin: 1.5rem 0 1rem;
}
#p4 .article img.third {
    /* bottom: 0; */
    transition-delay: 1.9s;
    width: 62%;
}
div.next, div.back {
    display: inline-block;
    text-align: center;
}
div.next p {
    color: #817251;
}
div.next::after {
    content: "";
    border-top: solid 3rem #817251;
    border-left: solid 3rem transparent;
    border-right: solid 3rem transparent;
    display: inline-block;
}

div.next img, div.back img {
    height: 3rem;
    width: auto;
    z-index: 10;
    max-height: 50px;
    position: absolute;
    top: -1.5rem;
    left: calc(50% - 1.5rem);
}
#p2 div.next, #p3 div.next {
    position: relative;
}

#p1 .fp-scroller {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#p1 .article {
    width: 80%;
    max-width: 500px;
}
#p1 .article img.first {
    width: 90%; 
}
#p1 .article img.second {
    width: 75%; 
}
#p1 .article img.third {
    width: 23%;
    position: absolute;
    bottom: 7%;
    right: 8%;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

#p2 .article {
    /* max-width: 1000px; */
}
#p2 .article div.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 3rem 0 0;
    margin: auto;
}
#p2 .article .main_image {
    width: 100%;
    height: 61.8vh;
    background-image: url(../img/p4_img_top.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#p2 .article div.title .cap_img{
    position: absolute;
    top: -60%;
    left: 50%;
    width: 50%;
}
#p2 .article2 {
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 6rem; */
}
#p2 {
    overflow: hidden;
}

#p2 .article2 div.cont {
    position: relative;
    flex: 1 1 500px;
}
#p2 .article2 div.cont.ryucheru {
    margin-bottom: 10%;
}
#p2 .article2 div .first{
    width: 100%;
}
#p2 .article2 div .second{
    position: absolute;
    bottom: 0;
    height: 68vw;
    width: auto;
}
#p2 .article2 div.ryucheru .second{
    left: -10%;
}
#p2 .article2 div.kasai .second{
    right: -10%;
}
#p2 .article2 div.ryucheru p{
    margin: 0.5rem 0 0 auto;
    width: 75%;
}
#p2 .article2 div.kasai p{
    margin: 0.5rem auto 0 0;
    text-align: right;
    width: 65%;
}

#p2 .article2 div.mhm {
    
}

#p2 .article2 div.mhm div {
    flex: 0 0 30%;
    z-index: 100;
}
#p2 .article2 div.mhm div img {
    width: 100%;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 5px #ccc;
}
#p2 .article2 > p {
    text-align: center;
    margin: 0 auto 1rem;
}
#p2 .article3 {
    text-align: center;
    margin-bottom: 2rem;
} 

#p2 .article3 div.mhm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
} 
#p2 .article3 div.mhm div {
    width: 90%;
    margin: 0 5% 10%;
} 
.article4 .price {
    margin-bottom: 3rem;
} 
.article4 .parse {
    padding: 3rem 3rem 0;
    justify-content: center;
    background-color: #C3BCAC;
    list-style: none;
    margin-bottom: 2rem;
    flex: 1 1 556px;
} 
.article4 .parse li {
    margin-bottom: 2rem;
    flex: 0 0 240px;
} 
.article4 .model_info {
    justify-content: center;
}
.article4 dt, .article4 dd {
    margin-bottom: 1rem;
}
.article4 .logo {
    order: 2;
    margin-left: 1rem;
    width: 65%;
}
.article4 .area {
    order: 1;
    background-color: #FFF000;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    width: 17%;
} 
.article4 .area span {
    font-size: 1.4rem;
    display: block;
} 
.article4 .area span.hr {
    border-bottom: solid 1px;
    margin-bottom: 0.2rem;
} 
.article4 .image {
    order: 3;
    width: 32%;
}
.article4 .info {
    order: 4;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-left: 1rem;
    width: 50%;
}
.article4 .period {
    margin-left: 9%;
    margin-bottom: 2rem;
}
.article4 p.small {
    margin-bottom: 2rem;
}
.article4 .detail {
    border: solid 1px #817251;
    padding: 2rem 2rem 1rem;
    margin-bottom: 2rem;
}
.article4 .detail p {
    margin-bottom: 1rem;
}
.article4 .detail span{
    color: #817251;
}
.article5 h2 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0;
    margin-bottom: 2rem;
    line-height: 1.5;
}
.article5 .rogo {
    line-height: normal;
}
.article5 .rogo img{
    width: 61.8%;
    vertical-align: bottom;
}
.article5 .quality {
    margin-bottom: 2rem;
    position: relative;
}
.article5 .quality h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    flex: 1 0 auto;
}
.article5 .quality h3 span {
    font-size: 3.5rem;
    display: block;
}
.article5 .quality .words {
    font-size: 1.4rem;
}
.article5 .quality figure {
    margin-bottom: 2rem;
}
.article5 .modelhouse {
    position: relative;
}
.article5 .modelhouse .left {
    order: 1;
}
.article5 .modelhouse .right {
    order: 0;
    width: 63vw;
    margin: auto;
    margin-bottom: 2rem;
}
.article5 .modelhouse h3 {
    text-align: center;
    font-size: 4rem;
}
.article5 .address {
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 2rem;
}
.article5 .detail {
    justify-content: space-between;
    font-size: 1.2rem;
}
.article5 .detail dl {
    width: 48%;
    margin-bottom: 1rem;
}
.article5 .detail dl.liz_rogo {
    border: solid 1px #817251;
    color: #817251;
    text-align: center;
    padding: 3.5rem 0;
}
.article5 .detail dl.liz_rogo img {
    width: 61.8%;
}
.article5 .right dt::before,
.article5 .right dt::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 1;
}
.article5 .right dt {
    position: relative;
}
.article5 .right dt::before {
    left: 0;
    border-width: 18vw 32vw 0 0;
    border-color: #fff transparent transparent transparent;
}
.article5 .right dt::after {
    left: 50%;
    border-width: 0 32vw 18vw 0;
    border-color: transparent #fff transparent transparent;
}
.article5 .right span {
    position: absolute;
    top: -10vw;
    left: -4vw;
    z-index: 1;
    border: solid 1px;
    background-color: #ffffff;
    padding: 1rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    line-height: 1.6;

}
#p3 div.next {
    background-color: #ECEADA;
}

#p3 footer {
    background-color: #ECEADA;
}
#p3 footer {
    height: 10rem;
    justify-content: center;
}
#p3 footer p {
    text-align: center;
}
#p3 footer p small {
    font-size: 1rem;
}

.slimScrollBar {
    background: red !important;
    opacity: 1 !important;
    z-index: 999 !important;
}
.container {
    margin: 70px 20px;
}

@media screen and (min-width: 768px) {
    #p1 .article {
        /* margin: calc((100vh - 370px) / 2) auto 0; */
    }
    #p2 .article3 div.mhm div {
        margin: 0 0 5%;
        width: 30%;
    }
    #p4 .article {
        width: 60vw;
        margin: calc((100vh - 370px) / 2) auto 0;
        height: 37vw;
    }
}
@media screen and (min-width: 568px) and (orientation: landscape) {
    html, body {
        font-size: 2.5vh;
    }
    #p4 .article {
        height: 37vh;
        margin: calc((100vh - 37vh) / 2) auto 0;
        width: 60vh;
    }
    #p1 .article {
        /* margin: calc((100vh - 37vh) / 2) auto 0; */
        width: 50%;
    }
    #p1 .article img.third {
        bottom: 9%;
    }
    #p2 .article .main_image {
        height: 62vh;
    }
    #p2 .article div.title .cap_img {
    }
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
    html, body {
        font-size: 10px;
    }
    #p2 .article2 {
        justify-content: space-between;
    }
    #p2 .article2 div.cont {
        flex: 0 0 47.5%;
    }
    #p2 .article2 div .second {
        height: 90%;
    }
    #p2 .article2 p {
    }
    #p2 .article2 div.ryucheru p {
    }
    #p3 footer {
        height: 9rem;
    }
    
}
@media screen and (min-width: 1000px) {
    html, body {
        font-size: 10px;
    }
    h2 {
        font-size: 10rem;
        letter-spacing: 1.5rem;
    }
    #p2 h2 {
    }
    .article h3 {
        text-align: left;
    }
    #p2 .article2 {
        justify-content: space-between;
    }
    #p2 .article2 h3 {
        width: 38.2%;
        text-align: left;
    }
    #p2 .article2 div.cont {
        flex: 0 0 47.5%;
    }
    #p2 .article2 div.cont.ryucheru {
        margin-bottom: 0;
    }
    #p2 .article2 div.cont.ryucheru .second{
        height: auto;
        width: 16rem;
    }
    #p2 .article2 div.cont.kasai .second{
        height: auto;
        width: 24rem;
    }
    .article4 .parse {
        justify-content: space-between;
    } 
    .article5 .rogo img {
        width: 35%;
    }
    .article5 .quality .detail {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 384px;
        background-color: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        padding: 4rem 6rem;
    }
    .article5 .quality h3 {
        text-align: left;
        font-size: 2.0rem;
    }
    .article5 .quality h3 span {
        font-size: 5.4rem;
    }
    .article5 .modelhouse .left {
        order: 0;
        width: 72%;
    }
    .article5 .modelhouse .right {
        order: 1;
        width: 28%;
        position: absolute;
        top: -23px;
        font-size: 1.2rem;
    }
    .article5 .right dt, .article5 .right dd {
        width: 218px;
        margin: auto;
    }
    .article5 .address {
        display: flex;
        justify-content: center;
    }
    .article5 .address dd {
        margin-left: 1rem;
    }
    .article5 .detail dl {
        width: 22.5%;
    }
    .article5 .right dt::before {
        left: 0;
        border-width: 61px 108px 0 0;
        border-color: #fff transparent transparent transparent;
    }
    .article5 .right dt::after {
        left: 50%;
        border-width: 0 108px 61px 0;
        border-color: transparent #fff transparent transparent;
    }
    .article5 .right span {
        left: unset;
        right: 0;
        top: -50px;
        z-index: 10;
    }
    br.sp {
        display: none;
    }

}
