/* @import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
 */
html {
    height: 100%;
    font-family: serif;
    font-size: 2.5vw;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    /* font-size: 16em; */
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ーーーーーーーーーーーーーーーーーーーーーー 文字 ーーーーーーーーーーーーーーーーーーーーーー */

h2, h3{
    margin: 0;
    box-sizing: border-box;
    font-family: "a-otf-ryumin-pr6n";
    font-weight: 400;
}
h1, h2 {
    font-size: 5rem;
    line-height: 1.2;
}
h1 {
    padding: 0 0 2rem 2rem;
    text-shadow: 0.05rem 0.05rem 0.8rem #000;
    color: #fff;
}
div.title span {
    letter-spacing: 1rem;
}
h2 {
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    flex: 0 0 90%;
}
h3 {
    font-size: 2rem;
    text-align: center;
    line-height: 2;
}
#p2 h3 {
    padding-bottom: 5rem;
}
#p3 h3 {
    margin: 1rem auto;
    line-height: 1.5;
    font-size: 1.8rem;
}
p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 2rem;
    font-family: "fot-rodin-pron", sans-serif;
}

p.link {
    border: solid 1px #555;
    width: 15rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto 1rem;
    z-index: 100;
    color: #555;
    box-shadow: 2px 2px 4px #bbb;
    font-weight: bold;
    border-radius: 0.2rem;        /* CSS3草案 */  
    -webkit-border-radius: 0.2rem;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0.2rem;
}
p.link.test {
    border: solid 2px #bbb;
    color: #bbb;
    box-shadow: 2px 2px 4px #ddd;
}
p.link span {
    display: inline-block;
}
p.link a {
    display: block;
    width: 100%;
    height: 100%;
}
p.link.first {
    position: fixed;
    bottom: 7rem;
    left: 0;
    right: 0;
}
#p3 p {
    text-shadow: 0px 0px 0.05rem #fff, 0px 0px 0.4rem #fff;
    color: #000;
}
#p2 p {
    letter-spacing: 0.1rem;
    padding-left: 1.5rem;
}

a { text-decoration: none;}
a:hover { text-decoration: none;}
a:link, a:visited, a:hover, a:active {color: #555;}

/* fullpage.cssの修正 */

#fullpage {
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.c_c{
    justify-content: center;
    align-items: center;
}
.bottom {
    position: absolute;
    bottom: 0;
}
.cover {
    position: relative;
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0;
    color: #000;
}

#p4, #p1 {
    height: 100% !important;
}

.fp-tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p4 .article {
    z-index: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1rem;
    width: 60vw;
    margin: calc((133% - 37vw) / 2) auto 0;
    height: 37vw;
    max-width: 300px;
    max-height: 185px;
    text-align: center;
}

#p4 .article img {
    /* position: absolute; */
}
#p4 .article img.first {
    /* top: 0; */
    width: 100%;
    transition: 0.5s;
    transition-delay: 0.2s;

}
#p4 .article img.second {
    /* top: 45%; */
    transition-delay: 1.2s;
    width: 10%;
    margin: 1.5rem 0 1rem;
}
#p4 .article img.third {
    /* bottom: 0; */
    transition-delay: 1.9s;
    width: 62%;
}
div.next, div.back {
    height: 5vh;
    width: 100%;
    text-align: center;
}

div.next img, div.back img {
    height: 3rem;
    z-index: 10;
    max-height: 50px;
    position: absolute;
    top: -1.5rem;
    left: calc(50% - 1.5rem);
}
#p2 div.next, #p3 div.next {
    position: relative;
}

#p1 .fp-scroller, #p3 .fp-scroller {
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#p1 .article {
    /* height: 100%; */
    width: 80%;
    /* margin: calc((133% - 37vw) / 2) auto 0; */
    line-height: 1.3;
    position: relative;
    max-width: 500px;
}
#p1 .article img.first {
    width: 90%; 
}
#p1 .article img.second {
    width: 75%; 
}
#p1 .article img.third {
    width: 23%;
    position: absolute;
    bottom: 7%;
    right: 8%;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

#p2 .article {
    max-width: 1000px;
    padding-bottom: 5%;
}
#p2 .article div.title {
    position: relative;
    display: flex;
    margin: 5rem auto 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#p2 .article .main_image {
    width: 100%;
    height: 61.8vh;
    background-image: url(../img/p4_img_top.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#p2 .article .main_image h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: 0.05rem 0.05rem 0.8rem #000;
    color: #fff;
    line-height: 1.8;
}
#p2 .article .main_image h3 span{
    font-size: 6rem;
    line-height: 1;
}
#p2 .article div.title .cap_img{
    position: absolute;
    top: -7.5rem;
    left: 50%;
    width: 15rem;
}
#p3 .article {
    max-width: 1000px;
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 6rem; */
}
#p3 {
    overflow: hidden;
}

#p3 .article div.cont {
    position: relative;
    text-align: center;
    margin-bottom: 6rem;
    flex: 1 1 500px;
}
#p3 .article div .first{
    width: 100%;
}
#p3 .article div .second{
    position: absolute;
    bottom: 0;
    height: 75vw;
}
#p3 .article div.ryucheru .second{
    left: -16%;
}
#p3 .article div.kasai .second{
    right: -20%;
}
#p3 .article div p{
    /* width: 22rem; */
    text-align: left;
}
#p3 .article div.ryucheru p{
    margin: 1rem 0 0 auto;
    width: 68%;
}
#p3 .article div.kasai p{
    margin: 1rem auto 0 0;
}

#p3 .article div.mhm {
    
}

#p3 .article div.mhm div {
    flex: 0 0 30%;
    z-index: 100;
}
#p3 .article div.mhm div img {
    width: 100%;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 5px #ccc;
}
#p3 .article > p {
    text-align: center;
    margin: 0 auto 1rem;
}
#p3 div.next {
    background-color: #ECEADA;
}

#p3 footer {
    background-color: #ECEADA;
}
#p3 footer {
    height: 10rem;
    justify-content: center;
}
#p3 footer p {
    text-align: center;
}
#p3 footer p small {
    font-size: 1rem;
}

.slimScrollBar {
    background: red !important;
    opacity: 1 !important;
    z-index: 999 !important;
}
.container {
    margin: 70px 20px;
}

@media screen and (min-width: 768px) {
    #p4 .article {
        width: 60vw;
        margin: calc((100vh - 370px) / 2) auto 0;
        height: 37vw;
    }
    #p1 .article {
        /* margin: calc((100vh - 370px) / 2) auto 0; */
    }
    #p3 .article div.mhm {
        display: flex;
        justify-content: space-between;
        width: 100%;
    } 

}
@media screen and (min-width: 568px) and (orientation: landscape) {
    html, body {
        font-size: 2.5vh;
    }
    #p4 .article {
        height: 37vh;
        margin: calc((100vh - 37vh) / 2) auto 0;
        width: 60vh;
    }
    #p1 .article {
        /* margin: calc((100vh - 37vh) / 2) auto 0; */
    }
    #p1 .article img.third {
        bottom: 9%;
    }
    #p2 .article .main_image {
        height: 62vh;
    }
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
    html, body {
        font-size: 16px;
    }
    #p2 .article {
        padding-top: 5%;
    }
    
    #p3 .article {
        justify-content: space-between;
    }
    #p3 .article div.cont {
        flex: 0 0 45%;
    }
    #p3 .article div .second {
        height: 95%;
    }
    #p3 .article p {
        font-size: 1.2rem;
    }
    #p3 .article div.ryucheru p {
        margin: 2rem 0 0 auto;
    }
    br.sp {
        display: none;
    }
    #p3 footer {
        height: 9rem;
    }
    
}
@media screen and (min-width: 1000px) {
    html, body {
        font-size: 16px;
    }
}